body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000000;
  color: #ffffff;
}
a {
  color: #ffffff;
}
a:hover {
  text-decoration: none;
}
.story {
  font-family: 'Tangerine', cursive;
}
