body {
/* */
margin: 0px;
padding: 0px;
  color: #e2e2e2;
  font-family: 'Open Sans', sans-serif;
}
#outwrapper {
  background: linear-gradient(180deg, #000, #040404 60%, #222 90%,#444);
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 10px;
}
#wrapper {
  margin: 10px;
}
html {
  height: 100%;
}

a, a:hover, a:visited {
  color: #e2e2e2;
}

a:hover {
  text-decoration: none;
}
.story {
  font-family: 'Tangerine', cursive;
}
h1.story  {
  font-size: 50px;
}
h2.story  {
  font-size: 40px;
}
.appeal {
  font-size: 25px;
  font-weight: bold;
}
.minappeal {
  font-size: 23px;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
li ul {
  list-style-type: disc;
  display: inline-block;
}
